@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;600;700&display=swap");

/*------------------------------Colors */

.logo {
  font-family: "Great Vibes", sans-serif;
  font-size: 36px;
  letter-spacing: 3px;
  padding-bottom: 0;
  margin-right: 0;
}

/*------------------------------Backgrounds */

.bg-main {
  height: 100vh;
  width: 100%;
  background: url("../images/wedding-bride.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
}

.bg-color-footer {
  background-color: #777777;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*------------------------------Navbar */

.navbar {
  top: 5px;
  margin-bottom: 0;
  border: 0;
  width: 100%;
  height: 60px;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar .navbar-toggler {
  border: 0;
  border-radius: 0;
}

.navbar-nav {
  padding-left: 15px;
  margin-bottom: 10px;
}

.nav-item {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  padding: 0px 15px;
  text-decoration: none;
}

.nav-item-border {
  border-left: 1px solid;
}

.navbar-collapse {
  margin-top: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(235, 235, 235, 0.75);
}

/*----------------------------Footer */

footer {
  height: 10px;
}

.list-inline {
  margin-bottom: 0;
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;
  text-decoration-style: none;
}

.social-links i {
  font-size: 140%;
  padding: 2% 5%;
  color: #fafafa;
}

/*----------------------------Hover.css */

.hvr-sweep-to-bottom:before {
  background: rgba(255, 255, 255, 0.2);
  height: 100%;
}

/*----------------------------Media Queries */

@media (max-width: 576px) {
  .navbar-nav {
    padding-left: 0px;
  }
  .nav-item {
    font-size: 16px;
    margin: 0px 10px;
  }

  .nav-item-border {
    border-left: none;
  }
}

@media (min-width: 576px) {
  .logo {
    font-size: 44px;
  }
}
